In [1]:
import pandas as pd

In [6]:
first_data = pd.read_csv("201811-citibike-tripdata.csv")
combined_data = pd.DataFrame(first_data)
combined_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,254,00:12.9,04:27.4,3522.0,37 St & 24 Ave,40.770148,-73.912094,3513.0,21 St & Hoyt Ave S,40.774645,-73.923706,34117,Subscriber,1992,1
1,833,00:16.3,14:09.4,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,251.0,Mott St & Prince St,40.723180,-73.994800,32569,Subscriber,1986,2
2,683,00:17.7,11:40.9,3405.0,5 St & 6 Ave,40.670484,-73.982090,3584.0,Eastern Pkwy & Franklin Ave,40.670777,-73.957680,15795,Subscriber,1985,1
3,1840,00:18.8,30:59.3,3150.0,E 85 St & York Ave,40.775369,-73.948034,297.0,E 15 St & 3 Ave,40.734232,-73.986923,33290,Subscriber,1994,1
4,1212,00:47.3,20:59.9,325.0,E 19 St & 3 Ave,40.736245,-73.984738,212.0,W 16 St & The High Line,40.743349,-74.006818,17411,Subscriber,1989,1

In [8]:
for i in range(201804, 201812):
    file_to_load = str(i) + "-citibike-tripdata.csv"

In [9]:
len(combined_data.index)

1048575

In [17]:
starttime2 = pd.to_datetime(combined_data.starttime, errors='coerce')
stoptime2 = pd.to_datetime(combined_data.stoptime, errors='coerce')
new_data = combined_data.assign(start_date=starttime2.dt.date, start_hour=starttime2.dt.hour,
                                stop_date = stoptime2.dt.date, stop_hour=stoptime2.dt.hour)
new_data.replace({'gender': {0: 'Unknown', 1: 'Male', 2: 'Female'}}, inplace=True)

In [18]:
new_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_date,start_hour,stop_date,stop_hour
0,254,00:12.9,04:27.4,3522.0,37 St & 24 Ave,40.770148,-73.912094,3513.0,21 St & Hoyt Ave S,40.774645,-73.923706,34117,Subscriber,1992,Male,2019-08-02,0.0,2019-08-02,4.0
1,833,00:16.3,14:09.4,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,251.0,Mott St & Prince St,40.723180,-73.994800,32569,Subscriber,1986,Female,2019-08-02,0.0,2019-08-02,14.0
2,683,00:17.7,11:40.9,3405.0,5 St & 6 Ave,40.670484,-73.982090,3584.0,Eastern Pkwy & Franklin Ave,40.670777,-73.957680,15795,Subscriber,1985,Male,2019-08-02,0.0,2019-08-02,11.0
3,1840,00:18.8,30:59.3,3150.0,E 85 St & York Ave,40.775369,-73.948034,297.0,E 15 St & 3 Ave,40.734232,-73.986923,33290,Subscriber,1994,Male,2019-08-02,0.0,NaT,NaN
4,1212,00:47.3,20:59.9,325.0,E 19 St & 3 Ave,40.736245,-73.984738,212.0,W 16 St & The High Line,40.743349,-74.006818,17411,Subscriber,1989,Male,2019-08-02,0.0,2019-08-02,20.0

In [19]:
new_data.to_csv("combined_bike_tripdata.csv")